In [26]:
import pandas as pd
import re

In [27]:
location1 = "tweets.csv"
location2 = "bad-words.csv"

In [28]:
# splits each tweet into tokens
def tokenize(sentence): 
    return re.findall(r'\w+', sentence.lower())

In [42]:
# assigns profanity degree to each sentence based on COUNT of tokens that match 
# as a profanity from the bad words or racial slurs files given input(i have taken bad words file as example,
# a file only consisting of racial slurs will work just fine)
def profanity_degree(tokens):
    return sum(1 for i in tokens if i in profane_words)/len(tokens)

In [30]:
# for this tweet file I used this particular encoding
df = pd.read_csv(location1, encoding ="ISO-8859-1",index_col=False)

In [31]:
with open(location2) as file:
    profane_words = file.readlines()
    profane_words = [profane_word.rstrip() for profane_word in profane_words]

In [32]:
df["tokens"] = df.tweets.apply(tokenize)

In [33]:
df

                                                  tweets                                             tokens
0      is upset that he can't update his Facebook by ...  [is, upset, that, he, can, t, update, his, fac...
1      @Kenichan I dived many times for the ball. Man...  [kenichan, i, dived, many, times, for, the, ba...
2        my whole body feels itchy and like its on fire   [my, whole, body, feels, itchy, and, like, its...
3      @nationwideclass no, it's not behaving at all....  [nationwideclass, no, it, s, not, behaving, at...
4                          @Kwesidei not the whole crew                   [kwesidei, not, the, whole, crew]
...                                                  ...                                                ...
99995  looks like my routers broke  more tweets from ...  [looks, like, my, routers, broke, more, tweets...
99996  i really dont want to be in college right now....  [i, really, dont, want, to, be, in, college, r...
99997                        @flossa  *offers you pepto*                       [flossa, offers, you, pepto]
99998  @JosieHobo I WOULD SOOOOO BE THERE IF I DIDN'T...  [josiehobo, i, would, sooooo, be, there, if, i...
99999  OMG, I just moisturised and my legs are BURNIN...  [omg, i, just, moisturised, and, my, legs, are...

[100000 rows x 2 columns]

In [34]:
df["profanity_degree"] = df.tokens.apply(profanity_degree)

In [35]:
df[["tweets","profanity_degree"]]

                                                  tweets  profanity_degree
0      is upset that he can't update his Facebook by ...          0.000000
1      @Kenichan I dived many times for the ball. Man...          0.000000
2        my whole body feels itchy and like its on fire           0.100000
3      @nationwideclass no, it's not behaving at all....          0.041667
4                          @Kwesidei not the whole crew           0.000000
...                                                  ...               ...
99995  looks like my routers broke  more tweets from ...          0.000000
99996  i really dont want to be in college right now....          0.000000
99997                        @flossa  *offers you pepto*          0.000000
99998  @JosieHobo I WOULD SOOOOO BE THERE IF I DIDN'T...          0.000000
99999  OMG, I just moisturised and my legs are BURNIN...          0.000000

[100000 rows x 2 columns]

In [38]:
# seeing the sentence with most profanities
df[["tweets","profanity_degree"]].sort_values("profanity_degree", ascending=False)

                                                  tweets  profanity_degree
30961                                    Fuck fuck fuck           1.000000
56543                                           Fuck...           1.000000
33449                         Gross gross gross! School           0.750000
25668                              Fuck fuck fuck this.           0.750000
34768                                  Sick day - sucks           0.666667
...                                                  ...               ...
36169  Just came back from walking the dog. It's rain...          0.000000
36168                  First day of school was ........           0.000000
36167  @Shibbers awful, right? seeing that little one...          0.000000
36166                               back to reality ...           0.000000
99999  OMG, I just moisturised and my legs are BURNIN...          0.000000

[100000 rows x 2 columns]

In [39]:
# saving output to the final file
df[["tweets","profanity_degree"]].to_csv("tweets_output.csv",index=False)